
/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*barra di navigazione */
.container{
    background-color: lightblue

}
.barnav{
    display: flex;
    justify-content: center ;
    align-items: center;
    height:80px;
    
}
.barnav > *{
    background-color: orange;
    flex-basis: 20%;
    padding: 10px;
    
}
.navlogin{
    text-align: right;
    border: 1px dashed black;
}
.navlink{
    text-align: center;
    border: 1px dashed black;
}
.navlogo{
    text-align: left;
    border: 1px dashed black;
}

/*contenitore del header*/
.container-header{
    background-color: blue;
    height: 500px;
    display: flex;
    justify-content: center ;
    
}
.internal-container{
    background-color : rgb(210, 15, 155);
    width: 40%;
    border: 2px dashed black;
    margin-top: 60px;
    margin-bottom: 60px;
    
}