
/*========== RESET CSS ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== NAVBAR ========== */
.container {
  background-color: lightblue;
}

.barnav {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 20px;
}

.barnav > * {
  background-color: orange;
  flex-basis: 20%;
  padding: 10px;
}

.navlogo {
  text-align: left;
  border: 1px dashed black;
}

.navlink {
  text-align: center;
  border: 1px dashed black;
}

.navlogin {
  text-align: right;
  border: 1px dashed black;
}

/* ========== HEADER ========== */
.container-header {
  background-color: blue;
  height: 500px;
  display: flex;
  justify-content: center;
}

.internal-container {
  background-color: rgb(210, 15, 155);
  width: 40%;
  border: 2px dashed black;
  margin: 60px 0;
}

/* ========== SEZIONI MAIN ========== */
.flex {
  display: flex;
}

.bg-white {
  background-color: rgb(245, 243, 243);
}

.bg-gray {
  background-color: rgb(194, 181, 181);
}

.container-6040 {
  display: flex;
  justify-content: center;
  height: 600px;
  padding: 60px 25%;
}

.large-con {
  flex-basis: 60%;
  background-color: dodgerblue;
  border: 2px dashed black;
}

.small-con {
  flex-basis: 40%;
  background-color: violet;
  border: 2px dashed black;
}

/* ========== SEZIONE VERDE ========== */
.container-100 {
  height: 800px;
  display: flex;
  justify-content: center;
}

.bg-green {
  background-color: green;
  width: 50%;
  border: 2px dashed black;
  margin: 20px 0;
}

/* ========== FOOTER ========== */
.bg-black {
  background-color: rgba(30, 30, 30, 0.966);
}

.container-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 600px;
}

.bg-viole {
  background-color: rgb(234, 91, 91);
  border: 2px dashed black;
  flex-basis: 11%;
}

.bg-acqua {
  background-color: rgb(16, 164, 160);
  border: 2px dashed white;
  flex-basis: 10%;
}

/* ========== LINEE SEPARATRICI ========== */
hr {
  border: 2px solid gray;
}

/* ========== FOOTER END ========== */
.container-end {
  display: flex;
  justify-content: center;
  height: 80px;
}

.end {
  display: flex;
  justify-content: space-between;
  background-color: rgb(28, 213, 230);
  width: 1015px;
  margin-top: 10px;
}

.logo-viole,
.button {
  background-color: violet;
  border: 2px dashed black;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}